.all-activities {
    @include purple-background;

    .wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-lg) {
            flex-direction: column;
        }
    }

    &__sidebar {
        width: 278px;

        @media (max-width: $mobile-lg) {
            width: 100%;
        }
    }

    .sidebar {

        &__heading {
            padding-top: 175px;
            color: $medium_blue;
    
            @media (max-width: $mobile-lg) {
                text-align: center;
                padding-top: 110px;
            }
            
            .number {
                letter-spacing: -0.10em;
            }
        }

        &--desktop {
            width: 100%;
        
            @media (max-width: $mobile-lg) {
                display: none;
            }
            
        }

        &--mobile {
            display: none;
            flex-direction: column;
            width: 100%;
            padding-top: 30px;

            @media (max-width: $mobile-lg) {
                display: flex;
            }
            
            .buttons {
                display: flex;
                justify-content: space-between;

                .btn {
                    
                    &--outline {
                        width: 150px;
                        border-radius: 0px;
                        border: 2px solid $medium_blue;
                        text-transform: uppercase;
                        color: $body_copy;

                        @media (max-width: $mobile_sm) {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-top: 13em;
    }

    .activities {
        display: flex;
        flex-direction: column;
        width: 932px;

        a {
            text-decoration: none;
        }

        @media (max-width: $laptop-lg) {
            width: 850px;
        }

        @media (max-width: $laptop) {
            width: 768px;
        }

        @media (max-width: $tablet-lg) {
            width: 520px;
        }

        @media (max-width: $tablet) {
            width: 320px;
        }

        @media (max-width: $mobile-lg) {
            width: 100%;
            padding-top: 30px;
        }
    }
}