.all-activities {
    @include purple-background;

    .wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-lg) {
            flex-direction: column;
        }
    }

    &__sidebar {
        width: 278px;

        @media (max-width: $mobile-lg) {
            width: 100%;
        }
    }

    .sidebar {

        &__heading {
            padding-top: 175px;
            color: $medium_blue;
    
            @media (max-width: $mobile-lg) {
                text-align: center;
                padding-top: 110px;
            }
            
            .number {
                letter-spacing: -0.10em;
            }
        }

        &--desktop {
            width: 100%;
        
            @media (max-width: $mobile-lg) {
                display: none;
            }
            
        }

        &--mobile {
            display: none;
            flex-direction: column;
            width: 100%;
            padding-top: 30px;

            @media (max-width: $mobile-lg) {
                display: flex;
            }
            
            .buttons {
                display: flex;
                justify-content: space-between;

                .btn {
                    
                    &--outline {
                        width: 150px;
                        border-radius: 0px;
                        border: 2px solid $medium_blue;
                        text-transform: uppercase;
                        color: $body_copy;

                        @media (max-width: $mobile_sm) {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-top: 13em;
    }

    .activities {
        display: flex;
        flex-direction: column;
        width: 932px;

        a {
            text-decoration: none;
        }

        @media (max-width: $laptop-lg) {
            width: 850px;
        }

        @media (max-width: $laptop) {
            width: 768px;
        }

        @media (max-width: $tablet-lg) {
            width: 520px;
        }

        @media (max-width: $tablet) {
            width: 320px;
        }

        @media (max-width: $mobile-lg) {
            width: 100%;
            padding-top: 30px;
        }

        .activity {
            width: 100%;
            display: flex;
            border: 2px solid $pale_purple;
            position: relative;
            margin-bottom: 3em;

            @media (max-width: $tablet-lg) {
                flex-direction: column;
            }
            
            &__content {
                padding: 2em;
                background-color: $white;

                @media (max-width: $mobile-lg) {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: linear-gradient(0deg, #FFFFFF 5.35%, rgba(255, 255, 255, 0) 98.14%);
                }

                @media (max-width: $mobile_sm) {
                    padding: 1em;
                }
            }

            &__heading {
                padding-bottom: 8px;

                @media (max-width: $mobile-lg) {
                    padding-bottom: 5px;
                    padding-top: 45px;
                }

                @media (max-width: $mobile_sm) {
                    padding-top: 35px;
                }
            }

            &__description {

                @media (max-width: $mobile-lg) {
                    display: none;
                }

                p {
                    @include copy;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            img {
                width: 310px;
                height: 100%;
                object-fit: cover;

                @media (max-width: $tablet-lg) {
                    width: 520px;
                }

                @media (max-width: $tablet) {
                    width: 320px;
                }

                @media (max-width: $mobile-lg) {
                    width: 100%;
                }
            }
        }
    }
}