.blog {

    &__heading {
        padding: 20px 0 53px 0;
        position: relative;

        &:after {
            @include pseudo;
            border: 1px solid $medium_blue;
            width: 45px;
            left: 0;
            bottom: 25px;
        }
    }

    &__excerpt {
        padding-bottom: 20px;

        p {
            @include copy;
        }
    }

    &__link {
        @include copy;
        color: $medium_blue;
        text-decoration: none;
    }

    &__top {
        background-color: $pale_yellow;
        padding: 132px 0;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .featured-post {
        width: 70%;
        position: relative;

        &__image {
            text-align: right;
    
            img {
                width: 450px;
                height: 589px;
                object-fit: cover;
            }
        }

        &__content {
            background-color: $white;
            text-align: left;
            width: 362px;
            padding: 3.5em;
            position: absolute;
            left: 0;
            bottom: 5.5em;
        }
    }

    .posts {
        width: 25%;

        .post {

            &__heading {
                font-size: 24px;
                line-height: 31px;
                letter-spacing: 0.01em;
                padding: 16px 0 70px;
                position: relative;

                &:after {
                    @include pseudo;
                    border-bottom: 1px solid $black;
                    width: 100%;
                    left: 0;
                    bottom: 30px;
                }
            }
        }
    }

    .post-filters {
        background: $medium_blue;
        padding: 75px 0;
        
        .wrapper {
            display: flex;
        }

        &__left {
            width: 45%;
        }

        &__right {
            width: 50%;
        }

        &__heading {
           font-size: 24px;
           color: $pale_purple;
           line-height: 31px;
           letter-spacing: 0.01%;
           padding-bottom: 39px; 
        }

        &__categories {
            display: flex;
            flex-wrap: wrap;
        }

        &__category {
            text-decoration: none;
            width: 50%;
            
            li {
                color: $white;
                font-family: $copy;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 26px;
                letter-spacing: 0.14em;
                margin-bottom: 24px;
            }
        }

        &__search {
            position: relative;
            left: 0;
            bottom: -15px;

            #search {
                height: 50px;
                width: 369px;
                background-color: white;
                border: none;
                color: $medium_blue;
                font-family: $copy;
                font-size: 18px;
                line-height: 25.45px;
                letter-spacing: 0.01em;

                &::placeholder {
                    color: $medium_blue;
                    font-family: $copy;
                    font-size: 18px;
                    line-height: 25.45px;
                    letter-spacing: 0.01em;
                    padding-left: 2em;
                }

            }
        }

        &__submit {
            background: transparent;
            border: none;
            position: absolute;
            top: 17px;
            left: 320px;
            font-size: 17px;
            font-weight: 100;

            i {
                color: $medium_blue;
            }
        }
    }

    .ajax-load-more-wrap {
        width: 100%;
    }

    .archive {
        padding: 75px 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .article {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $pale_purple;
            padding: 65px 70px;

            &__image {
                width: 25%;
                height: auto;
            }

            &__content {
                width: 550px;
            }
        }
    }

    .blog-newsletter {
        background: $pale_yellow;
        padding: 134px 0 222px 0;

        &__heading {
            text-align: center;
            font-size: 24px;
            font-family: $heading;
            line-height: 31px;
            letter-spacing: 0.01em;
            width: 100%;
        }
    }
}

.single {
    padding-top: 11em;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background-color: $pale_yellow;
        height: 572px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
    }

    &__image {
        width: 25%;
        
        img {
            width: 500px;
            height: auto;
            object-fit: cover;
        }
    }

    &__top-content {
        width: 50%;

        h2 {
            padding: 24px 0 16px;
        }

        .date {
            font-size: 17px;
            font-family: $copy;
            font-weight: 300;
            color: $body_copy;
            position: relative;
            
            &:after {
                @include pseudo;
                border-bottom: 2px solid $medium-blue;
                width: 44px;
                left: 0;
                bottom: -33px;
            }
        }
        
        .excerpt {
            padding-top: 63px;
            
            p {
                @include copy;
            }
        }
    }

    &__content {
        padding-bottom: 59px;

        p {
            @include copy;
        }
    }

    &__comments {
        padding-top: 45px;

        .btn {
            width: 209px;
            font-weight: 100;
        }
    }

    &__comments-container {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 82px 0 179px;

        &__heading {
            font-family: $copy;
            font-size: 14px;
            line-height: 20px;
            color: $medium_blue;
            text-transform: uppercase;
            display: block;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 24px;
            line-height: 31px;
            font-family: $heading;
            max-width: 270px;
            width: 100%;
            
            a {
                text-decoration: none;
                color: $dark-blue;
            }
        }
    }
}

.single-related {
    background: $pale-yellow;
    padding: 80px 0;

    &__posts-container {
        display: flex;
        justify-content: space-between;
    }

    &__post {
        width: 30%;
        text-decoration: none;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 365px;
        }
    }

    &__post-img {
        padding-bottom: 32px;
    }

    &__post-content {
        max-width: 329px;
        width: 100%;

        a {
            text-decoration: none;
            padding-top: 24px;
            display: block;

            h3 {
                font-size: 30px;
                font-family: $heading;
                color: $dark-blue;
                line-height: 38px;
            }
        }
    }
}