.blog {

    &__heading {
        padding: 20px 0 53px 0;
        position: relative;

        &:after {
            @include pseudo;
            border: 1px solid $medium_blue;
            width: 45px;
            left: 0;
            bottom: 25px;
        }
    }

    &__excerpt {
        padding-bottom: 20px;
        @include copy;
    }

    &__link {
        @include copy;
        color: $medium_blue;
        text-decoration: none;
    }

    &__top {
        background-color: $pale_yellow;
        padding: 132px 0;

        @media (max-width: $tablet) {
            padding: 100px 0 50px 0;
        }
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $tablet) {
            flex-direction: column;
            width: 100%;
        }

    }

    .featured-post {
        width: 70%;
        position: relative;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &__image {
            text-align: right;
    
            img {
                width: 450px;
                height: 589px;
                object-fit: cover;

                @media (max-width: $tablet) {
                    width: 100%;
                    height: auto;

                }
            }
        }

        a {
            text-decoration: none;
        }

        &__content {
            background-color: $white;
            text-align: left;
            width: 60%;
            padding: 1.5em;
            position: absolute;
            left: 0;
            bottom: 5em;

            @media (max-width: $tablet) {
                width: 80%;
                right: 0;
                margin: 0 auto;
                bottom: -11.5em;
            }

            @media (max-width: $mobile-lg) {
                position: relative;
                top: -5em;
            }

            h2 {
                font-size: 32px;
                line-height: 42px;
            }
        }
    }

    .posts {
        width: 25%;

        @media (max-width: $tablet) {
            width: 94%;
            margin-top: 14em;
        }

        @media (max-width: $tablet) {
            margin-top: 0;
        }

        a {
            text-decoration: none;
        }

        .post {

            &__heading {
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.01em;
                padding: 16px 0 70px;
                position: relative;

                &:after {
                    @include pseudo;
                    border-bottom: 1px solid $black;
                    width: 100%;
                    left: 0;
                    bottom: 30px;
                }
            }

            @media (max-width: $mobile-lg) {
                max-width: 1100px;
                width: 85%;
                margin: 0 auto;
            }
        }
    }

    .post-filters {
        background: $medium_blue;
        padding: 75px 0;
        
        .wrapper {
            display: flex;

            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }

        &__left {
            width: 45%;

            @media (max-width: $tablet) {
                width: 95%;
            }
        }

        &__right {
            width: 50%;

            @media (max-width: $tablet) {
                width: 95%;
                margin-top: 3em;
            }

            @media (max-width: $mobile-lg) {
                text-align: center;
            }

            img {
                width: 100%;

                @media (max-width: $mobile-lg) {
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }

        &__heading {
           font-size: 24px;
           color: $pale_purple;
           line-height: 31px;
           letter-spacing: 0.01em;
           padding-bottom: 39px; 

           @media (max-width: $tablet) {
               text-align: center;
           }
        }

        &__categories {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: $mobile-lg) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__category {
            text-decoration: none;
            width: 50%;

            @media (max-width: $tablet) {
                text-align: center;
            }
            
            li {
                color: $white;
                font-family: $copy;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 26px;
                letter-spacing: 0.14em;
                margin-bottom: 24px;
            }
        }

        &__search {
            position: relative;
            left: 0;
            bottom: -15px;

            @media (max-width: $mobile-lg) {
                width: 85%;
                margin: 0 auto;
            }
        }

        &__submit {
            background: transparent;
            border: none;
            position: absolute;
            top: 17px;
            left: 320px;
            font-size: 17px;
            font-weight: 100;

            @media (max-width: $tablet) {
                right: 0;
                left: unset;
            }

            i {
                color: $medium_blue;
            }
        }
    }

    .alm-filter--text-wrap {
        position: relative;

        &:after {
            @include pseudo;
            background: url('~/images/search.svg') no-repeat;
            height: 16px;
            width: 18px;
            left: 330px;
            top: 18px;
        }

        @media (max-width: $mobile-lg) {
            text-align: center;
        }
    }

    .alm-filter--textfield {
        height: 50px !important;
        width: 369px !important;
        background-color: white !important;
        border: none !important;
        color: $medium_blue !important;
        font-family: $copy !important;
        font-size: 18px !important;
        line-height: 25.45px !important;
        letter-spacing: 0.01em !important;

        &::placeholder {
            color: $medium_blue !important;
            font-family: $copy !important;
            font-size: 18px !important;
            line-height: 25.45px !important;
            letter-spacing: 0.01em !important;
            padding-left: 1em !important;
        }

    }

    .ajax-load-more-wrap {
        width: 100%;
        padding-top: 0;
    }

    .archive {
        padding: 0;

        @media (max-width: $mobile-lg) {
            padding: 0 0 75px 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            text-decoration: none;
        }

        .article {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $pale_purple;
            padding: 65px 70px;

            @media (max-width: $tablet) {
                flex-direction: column;
            }
            
            @media (max-width: $mobile-lg) {
                padding: 50px 20px;
                width: 85%;
                margin: 0 auto;
            }

            .blog__image {
                width: 329px;
                height: 100%;

                @media (max-width: $tablet) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 290px;
                    object-fit: cover;
                }
            }

            .blog__content {
                width: 550px;

                @media (max-width: $tablet-lg) {
                    width: 310px;
                }

                @media (max-width: $tablet) {
                    width: 100%;
                }

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    }

    .blog-newsletter {
        background: $pale_yellow;
        padding: 134px 0 222px 0;

        &__heading {
            text-align: center;
            font-size: 24px;
            font-family: $heading;
            line-height: 31px;
            letter-spacing: 0.01em;
            width: 100%;
        }
    }
}

.single {
    padding-top: 11em;
    position: relative;

    @media (max-width: $tablet) {
        padding-top: 7em;
    }

    @media (max-width: $mobile-lg) {
        padding-top: 5.5em;
    }

    &:before {
        content: '';
        position: absolute;
        background-color: $pale_yellow;
        height: 692px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        @media (max-width: $tablet) {
            height: 1050px;
        }

        @media (max-width: $mobile-lg) {
            height: 840px;
        }
    }

    @media (max-width: $mobile-lg) {
        
        .wrapper {
            width: 100%;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;

        @media (max-width: $tablet) {
            flex-direction: column;
        }

        @media (max-width: $mobile-lg) {
            margin-bottom: 185px;
        }
    }

    &__image {
        
        img {
            width: 503px;
            height: 614px;
            object-fit: cover;

            @media (max-width: $tablet) {
                width: 100%;
            }

            @media (max-width: $mobile-lg) {
                height: 370px;
            }
        }
    }

    &__top-content {
        width: 50%;
        padding-top: 7em;

        @media (max-width: $tablet) {
            width: 100%;
            padding-top: 35px;

            @media (max-width: $mobile-lg) {
                width: 85%;
                margin: 0 auto;
            }
        }

        h2 {
            padding: 24px 0 16px;
        }

        .date {
            font-size: 17px;
            font-family: $copy;
            font-weight: 300;
            color: $body_copy;
            position: relative;
            
            &:after {
                @include pseudo;
                border-bottom: 2px solid $medium-blue;
                width: 44px;
                left: 0;
                bottom: -33px;
            }
        }
        
        .excerpt {
            padding-top: 63px;
            
            p {
                @include copy;
            }
        }
    }

    &__content {
        padding-bottom: 59px;
        width: 840px;
        text-align: left;
        margin: 0 auto;

        @media (max-width: $mobile-lg) {
            width: 85%;
            margin: 0 auto;
        }

        p, li {
            @include copy;
            margin-bottom: 28px;

            &:last-child {
                margin-bottom: 0;
            }

            strong {
                font-weight: 500;
                font-size: 22px;
                line-height: 40.37px;
            }
        }

        h3 {
            font-weight: bold;
            margin: 20px 0;
            font-family: $copy;
            font-size: 20px;
            color: $body_copy;
            line-height: 28px;

            @media (max-width: $mobile_sm) {
                font-size: 18px;
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 24px 0 179px;

        @media (max-width: $mobile-lg) {
            width: 85%;
            margin: 0 auto;
            padding: 24px 0 130px;
        }

        &__heading {
            font-family: $copy;
            font-size: 14px;
            line-height: 20px;
            color: $medium_blue;
            text-transform: uppercase;
            display: block;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            font-family: $heading;
            max-width: 270px;
            width: 100%;
            
            a {
                text-decoration: none;
                color: $dark-blue;
            }
        }
        @media (max-width: $mobile-lg) {
            &__prev,
            &__next {
                width: 50%;
            }
        }

        &__prev {
            text-align: left;
        }

        &__next {
            text-align: right;
        }
    }
}

.single-related {
    background: $pale-yellow;
    padding: 80px 0;

    h2 {
        @media (max-width: $mobile-lg) {
            padding-bottom: 0;
        }
    }

    &__posts-container {
        display: flex;
        justify-content: space-between;
        
        @media (max-width: $mobile-lg) {
            flex-direction: column;
            width: 100%;
            margin-top: 44px;
        }
    }

    article {

        figure {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        
        @media (max-width: $tablet) {
            display: flex;
        }

        @media (max-width: $mobile-lg) {
            flex-direction: column;
        }

        .blog__copy {

            @media (max-width: $tablet) {
                padding-left: 2em;
            }

            @media (max-width: $mobile-lg) {
                padding: 1em 0;
            }
        }

        @media (max-width: $mobile-lg) {
            margin-bottom: 20px;
        }
    }

    a {
        text-decoration: none;
        width: 32%;

        @media (max-width: $mobile-lg) {
            width: 100%;
        }


        li {
            padding-top: 32px;

            @media (max-width: $mobile-lg) {
                padding-top: 0;
            }
        }

        h2 {
            font-size: 22px;
            line-height: 30px;
            padding-top: 8px;
            padding-right: 2em;

            @media (max-width: $mobile-lg) {
                font-size: 16px;
                line-height: 24px;
                padding-right: 0;
                padding-top: 10px;
            }
        }

        img {
            width: 300px;
            height: auto;

            @media (max-width: $tablet-lg) {
                width: 200px;
            }

            @media (max-width: $tablet) {
                margin-bottom: 2em;
            }

            @media (max-width: $mobile-lg) {
                width: 120px;
                height: auto;
                margin-bottom: 1em;
                object-fit: cover;
                
            }
        }
    }
}

.alm-filters-container .alm-filter ul {
    display: flex !important;
    flex-wrap: wrap !important;

    @media (max-width: $mobile-lg) {
        flex-direction: column !important;
    }
}

.alm-filters-container .alm-filter li {
    width: 50% !important;

    @media (max-width: $mobile-lg) {
        width: 100% !important;
    }
}

.alm-filters-container .alm-filter li div.alm-filter--link {
    padding: 0 10px 0 0 !important;
    color: $white !important;
    font-family: $copy !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    letter-spacing: 0.14em !important;
    margin-bottom: 14px !important;

    @media (max-width: $mobile-lg) {
        text-align: center !important;
    }
}
.alm-filters-container .alm-filter li div.alm-filter--link:hover {
    color: $pink !important;
}
.alm-filters-container .alm-filter li div.alm-filter--link:before,.alm-filters-container .alm-filter li div.alm-filter--link:after {
    content: '' !important;
    width: 0 !important;
    height: 0 !important;
    border: unset !important;
}

.alm-filters-container .alm-filter li div.alm-filter--link:focus:before, .alm-filters-container .alm-filter li div.alm-filter--link:hover:before {
    box-shadow: unset !important;
    color: $pink !important;
}

.alm-btn-wrap {
    margin: 1em 0;
}

button:disabled {
    display: none;
}