.default {
    padding-top: 10em;
    
    h1 {
        text-align: left;
    }

    .content {
        margin-top: 1em;
        @include copy;

        p {
            padding: 0.5em 0;
        }
    }
}