@import "../shared/variables";

.homepage {

    .hero {
        background: #FDF1E3;
        padding-bottom: 221px;

        &__tagline {
            @include tagline;
            padding-top: 251px;
            text-align: center;
            
        }
    
        &__heading {
            font-family: $heading;
            font-weight: normal;
            font-size: 62px;
            line-height: 74px;
            letter-spacing: 0.01em;
            color: $dark_blue;
            text-align: center;
            width: 828px;
            margin: 0 auto;
            padding-top: 18px;
        }
    
        .btn {
            margin: 61px auto 0 auto;
            display: block;
            text-align: center;
        }
    }

    .information {
        padding-bottom: 101px;

        &__heading {
            @include h2;
            text-align: center;
            padding-top:  128px;
        }

        &__description {
            @include copy;
            width: 712px;
            margin: 0 auto;
            text-align: center;
            padding-top: 24px;
        }

        &__details {
            display: flex;
            justify-content: center;
        }

        &__detail {
            padding-top: 63px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 97px;

            &:last-child {
                margin-right: 0;
            }

            .blue-circle {
                height: 46px;
                width: 46px;
                border-radius: 25px;
                background: $light_blue;
            }

            .tagline {
                @include tagline;
                padding-top: 24px;
            }
        }

        .btn {
            margin: 53px auto 0 auto;
            display: block;
            text-align: center;
        }
    }

    .wwc {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 94px;

        &__tagline {
            @include tagline;
            padding-top: 65px;
            text-align: center;
        }

        &__content {
            display: flex;
            padding-top: 42px;
            justify-content: center;

            p {
                font-family: $copy;
                font-size: 29px;
                line-height: 41px;
                letter-spacing: 0.01em;
                color: $dark_blue;
                margin-right: 106px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .curriculum {
        padding-bottom: 168px;
        
        &__container {
            padding-top: 124px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__heading {
            @include h2;
            padding-bottom: 23px;
        }

        &__description {
            @include copy;
            padding-bottom: 20px;
            width: 548px;
        }
    }
}