@import "../shared/variables";

.homepage {

    .hero {
        background: $yellow;
        padding-bottom: 221px;

        &__tagline {
            @include tagline;
            padding-top: 251px;
            text-align: center;
            
        }
    
        &__heading {
            font-family: $heading;
            font-weight: normal;
            font-size: 62px;
            line-height: 74px;
            letter-spacing: 0.01em;
            color: $dark_blue;
            text-align: center;
            width: 828px;
            margin: 0 auto;
            padding-top: 18px;
        }
    
        .btn {
            margin: 61px auto 0 auto;
            display: block;
            text-align: center;
        }
    }

    .information {
        padding-bottom: 101px;

        &__heading {
            text-align: center;
            padding-top:  128px;
        }

        &__description {
            @include copy;
            width: 712px;
            margin: 0 auto;
            text-align: center;
            padding-top: 24px;
        }

        &__details {
            display: flex;
            justify-content: center;
        }

        &__detail {
            padding-top: 63px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 97px;

            &:last-child {
                margin-right: 0;
            }

            .blue-circle {
                height: 46px;
                width: 46px;
                border-radius: 25px;
                background: $light_blue;
            }

            .tagline {
                @include tagline;
                padding-top: 24px;
            }
        }

        .btn {
            margin: 53px auto 0 auto;
            display: block;
            text-align: center;
        }
    }

    .wwc {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 94px;

        &__tagline {
            @include tagline;
            padding-top: 65px;
            text-align: center;
        }

        &__content {
            display: flex;
            padding-top: 42px;
            justify-content: center;

            p {
                font-family: $copy;
                font-size: 29px;
                line-height: 41px;
                letter-spacing: 0.01em;
                color: $dark_blue;
                margin-right: 106px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .learning-platform {
        background: $yellow;

        &__container {
            padding: 85px 0 68px 0;
        }

        &__img {
            padding-bottom: 72px;
        }

        &__heading {
            text-align: center;
            padding-bottom: 24px;
        }

        &__description {
            @include copy;
            text-align: center;
        }
    }

    .sign-up {
        background: $yellow;

        &__heading {
            padding: 129px 0 88px 0;
            text-align: center;
        }

        &__content {
            display: flex;
            justify-content: center;
        }

        &__rates {
            display: flex;
        }

        &__rate-cards {
            display: flex;
        }
        
        &__rate-card {
            background-color: $white;
            padding: 12px;
            display: flex;
            flex-direction: column;
            margin-right: 32px;
            width: 219px;

            &:last-child {
                margin-right: 75px;
            }

            &--extra {
                position: relative;

                &:before {
                    position: absolute;
                    content: 'SAVE 25%';
                    font-size: 14spx;
                    font-family: $copy;
                    font-weight: 300;
                    text-align: center;
                    letter-spacing: 0.08%;
                    line-height: 19.95px;
                    background: $orange;
                    border-radius: 48px;
                    width: 110px;
                    height: 33px;
                    color: $white;
                    left: 25%;
                    right: 0;
                    top: -4.5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .btn {
            width: 100%;
        }

        &__rate-card-heading {
            font-family: $heading;
            color: $medium_blue;
            font-size: 32px;
            line-height: 40.1px;
            text-align: center;
            padding-top: 27px;
        }

        &__rate-card-price {
            font-size: 20px;
            font-weight: 300;
            font-size: 34px;
            font-family: $copy;
            letter-spacing: 0.04em;
            font-size: 24px;
            text-align: center;
            color: $black;
            padding: 9px 0 6px 0;
        }

        &__rate-card-price-desc {
            font-family: $copy;
            font-weight: 300;
            font-size: 14px;
            line-height: 19.95px;
            text-align: center;
            padding-bottom: 23px;
        }

        &__info-heading {
            font-family: $copy;
            font-weight: 500;
            font-size: 18px;
            line-height: 25.65px;
            letter-spacing: 0.04%;
            color: $black;
            padding-top: 15px;
        }

        &__info-list {
            li {
                font-family: $copy;
                font-weight: 300;
                font-size: 16px;
                line-height: 22.8px;
                letter-spacing: 0.04%;
                color: $black;
                position: relative;
                left: 10px;
                margin-bottom: 23px;

                &:first-child {
                    margin-top: 23px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '✓';
                    position: absolute;
                    left: -15px;
                    font-family: $copy;
                }
            }
        }

        &__disclaimer {
            padding: 77px 0 126px 0; 
            text-align: center;
            font-family: $copy;
            font-weight: 300;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.04em;
            color: $black;

            a {
                color: $medium_blue;
            }
        }
    }
}