@import "../shared/variables";

.homepage {

    .curriculum-expertly {

        .template-lr__container {
    
            @media (max-width: $tablet) {
                padding-bottom: 30px;
    
                .template-lr__heading {
                    padding-top: 50px;
                }
            }
    
            &:first-child {
                position: relative;
    
                .template-lr__img {
                    &:after {
                        @include pseudo;
                        background: url('~/images/leaf-sun.png') no-repeat;
                        height: 169px;
                        width: 165px;
                        bottom: -60px;
                        right: -20px;
    
                        @media (max-width: 1160px) {
                            bottom: 0;
                        }
    
                        @media (max-width: $tablet-lg) {
                            background: url('~/images/leaf-sun.png') no-repeat 0 0/cover;
                            height: 120px;
                            width: 125px;
                            bottom: 100px;
                        }
    
                        @media (max-width: $tablet) {
                            background: url('~/images/leaf-sun.png') no-repeat;
                            height: 169px;
                            width: 165px;
                            bottom: 490px;
                            right: 0;
                        }
    
                        @media (max-width: $mobile-lg) {
                            background: url('~/images/leaf-sun.png') no-repeat 0 0/cover;
                            height: 140px;
                            width: 140px;
                            bottom: 699px;
                        }
    
                        @media (max-width: $mobile-md) {
                            bottom: 769px;
                        }
    
                        @media (max-width: $mobile-sm) {
                            bottom: 849px;
                        }
                    }
                }
            }
        }
    
        .template-lr__container--reverse {
            position: relative;
    
            .template-lr__img {
    
                &:after {
                    @include pseudo;
                    background: url('~/images/bird2.png') no-repeat;
                    height: 169px;
                    width: 165px;
                    top: 12em;
                    left: -5em;
    
                    @media (max-width: $tablet-lg) {
                        background: url('~/images/bird2.png') no-repeat 0 0/cover;
                        height: 100px;
                        width: 100px;
                        top: 5em;
                    }
    
                    @media (max-width: $tablet) {
                        background: url('~/images/bird2.png') no-repeat;
                        height: 169px;
                        width: 165px;
                        top: 0;
                        left: 0;
                    }
    
                    @media (max-width: $mobile-lg) {
                        background: url('~/images/bird2.png') no-repeat 0 0/cover;
                        height: 122px;
                        width: 125px;
                    }
    
                    @media (max-width: $mobile-sm) {
                        height: 82px;
                        width: 85px;
                    }
                }
            }
        }
    }

    .play-age {
        .template-lr__container {
    
            @media (max-width: $tablet) {
                padding-bottom: 30px;
    
                .template-lr__heading {
                    padding-top: 50px;
                }
            }
    
            &:first-child {
                
                .template-lr__img {
                    position: relative;

                    &:after {
                        @include pseudo;
                        background: url('~/images/asterisk.png') no-repeat;
                        height: 148px;
                        width: 138px;
                        top: -30px;
                        right: -30px;

                        @media (max-width: $tablet-lg) {
                            background: url('~/images/asterisk.png') no-repeat 0 0/cover;
                            height: 110px;
                            width: 103px;
                        }
                    }
                }
            }
        }
    
        .template-lr__container--reverse {
            
            .template-lr__img {
                position: relative;
    
                &:after {
                    @include pseudo;
                    background: url('~/images/bird2.png') no-repeat;
                    height: 169px;
                    width: 165px;
                    top: 15em;
                    left: -4em;

                    @media (max-width: 1180px) {
                        top: 13em;
                    }

                    @media (max-width: $tablet-lg) {
                        background: url('~/images/bird2.png') no-repeat 0 0/cover;
                        height: 109px;
                        width: 112px;
                        top: 7em;
                    }

                    @media (max-width: $tablet) {
                        left: 1em;
                        top: -2em;
                    }
                }
            }
        }
    }


    .hero {
        padding-bottom: 221px;
        position: relative;

        @media (max-width: $mobile-lg) {
            padding-bottom: 121px;
        }

        &__subheading {
            @include subheading;
            padding-top: 251px;
            text-align: center;
            
        }
    
        &__heading {
            width: 828px;
            padding-top: 18px;
            position: relative;
            z-index: 1;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    
        .btn {
            margin: 61px auto 0 auto;
            display: block;
            text-align: center;
        }

        &:before {
            @include pseudo;
            background: url('~/images/hero_top-left.png') no-repeat;
            height: 319px;
            width: 234px;
            top: 120px;
            left: 0;

            @media (max-width: $mobile-lg) {
                background: url('~/images/hero_top-left.png') no-repeat 0 0/cover;
                height: 142px;
                width: 100px;
            }
        }

        &:after {
            @include pseudo;
            background: url('~/images/hero_top-right.png') no-repeat;
            height: 239px;
            width: 232px;
            top: 140px;
            right: 0;

            @media (max-width: $mobile-lg) {
                background: url('~/images/hero_top-right.png') no-repeat 0 0/cover;
                height: 129px;
                width: 125px;
            }
        }
    }

    .activities {
        padding: 34px 0 0 0;

        @media (max-width: $mobile-lg) {
            padding: 0;
        }

        &__subject-heading {
            text-align: center;
            padding: 56px 0;

            @media (max-width: $mobile-lg) {
                padding: 76px 0 26px 0;
            }
        }

        .subjects {
            display: flex;
            justify-content: space-between;
            padding-bottom: 169px;
            width: 100%;

            @media (max-width: $tablet-lg) {
                padding-bottom: 89px;
            }

            @media (max-width: $mobile-lg) {
                flex-direction: column;
                padding-bottom: 56px;
            }

            .subject {
                padding: 60px 0;
                width: 18%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                @media (max-width: $tablet) {
                    width: 120px;
                    height: 40px;
                }

                @media (max-width: $mobile-lg) {
                    width: 100%;
                    height: 82px;
                    justify-content: space-between;
                    margin-bottom: 24px;
                    padding: 0;
                }

                &:nth-child(4) {

                    .subject__icon {
                        width: autopx;
                        height: 80px;
                    }
                }

                &:last-child {
                    margin-right: 0;

                    @media (max-width: $mobile-lg) {
                        margin-bottom: 0;
                    }
                }

                a {
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }

                &__title {
                    color: $black;
                    font-family: $copy;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 0.04em;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 65%;
                    width: 90%;
                    margin: 0 auto;

                    @media (max-width: $tablet) {
                        font-size: 18px;
                        line-height: 23px;
                    }

                    @media (max-width: $mobile-lg) {
                        left: 7em;
                        width: auto;
                        top: 30px;
                        text-align: left;
                    }

                    @media (max-width: $mobile_sm) {
                        font-size: 16px;
                    }
                }

                &__icon {
                    height: 65px;
                    width: auto;
                    position: relative;
                    top: -20px;

                    @media (max-width: $mobile-lg) {
                        height: 60px;
                        top: 0px;
                        left: 2em;
                    }
                }
            }
        }

        &__age {
            text-align: center;
        }

        &__age-heading {
            text-align: center;
            padding-bottom: 16px;
        }

        &__age-description {
            @include copy;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            padding-bottom: 67px;

            @media (max-width: $tablet-lg) {
                width: 100%;
            }

            @media (max-width: $mobile-lg) {
                padding-bottom: 47px;
            }
        }

        .ages {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 57px;

            @media (max-width: $mobile-lg) {
                flex-direction: column;
                flex-wrap: nowrap;
                padding-bottom: 0;
            }

            .age {
                flex: 1 0 33.3%;
                text-align: center;

                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(4) {
                    text-align: left;
                }


                &:nth-child(3n) {
                    text-align: right;
                }

                button {
                    &:nth-child(-n+3) {
                        margin-bottom: 24px;
                    }
                }
                
                button {
                    width: 90%;
                    height: 80px;
                    border: 2px solid $pale_purple;
                    background-color: $white;
                    text-align: center;
                    font-family: $copy;
                    font-size: 24px;
                    line-height: 47.64px;
                    letter-spacing: 0.04em;
                    color: $dark_blue;
                    cursor: pointer;

                    @media (max-width: $mobile-lg) {
                        width: 100%;
                        font-size: 22px;
                    }
                }
            }
        }

        .btn {
            width: 235px;

            @media (max-width: $mobile-lg) {
                width: 100%;
            }
        }
    }

    .information {
        padding-bottom: 101px;
        position: relative;

        &__heading {
            text-align: center;
            padding-top:  128px;
        }

        &__description {
            @include copy;
            width: 712px;
            margin: 0 auto;
            text-align: center;
            padding-top: 24px;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }

        &__details {
            display: flex;
            justify-content: center;

            @media (max-width: $mobile-lg) {
                flex-direction: column;
            }
        }

        &__detail {
            padding-top: 63px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 97px;

            @media (max-width: $mobile-lg) {
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            .blue-circle {
                height: 46px;
                width: 46px;
                border-radius: 25px;
                background: $light_blue;
            }

            .subheading {
                @include subheading;
                padding-top: 24px;
            }
        }

        .btn {
            margin: 53px auto 0 auto;
            display: block;
            text-align: center;
        }

        &:before {
            @include pseudo;
            background: url('~/images/hero_bottom-left.png') no-repeat;
            height: 220px;
            width: 273px;
            top: -130px;
            left: 0;

            @media (max-width: $mobile-lg) {
                background: url('~/images/hero_bottom-left.png') no-repeat 0 0/cover;
                height: 116px;
                width: 143px;
                top: -60px;
            }
        }

        &:after {
            @include pseudo;
            background: url('~/images/hero_bottom-right.png') no-repeat;
            height: 264px;
            width: 205px;
            top: -150px;
            right: 0;

            @media (max-width: $mobile-lg) {
                background: url('~/images/hero_bottom-right.png') no-repeat 0 0/cover;
                height: 127px;
                width: 99px;
                top: -60px;
            }
        }
    }

    .wwc {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 94px;

        &__subheading {
            @include subheading;
            padding-top: 65px;
            text-align: center;
        }

        &__content {
            display: flex;
            padding-top: 42px;
            justify-content: space-between;

            @media (max-width: $tablet) {
                flex-direction: column;
            }
            

            p {
                font-family: $copy;
                font-size: 29px;
                line-height: 41px;
                letter-spacing: 0.01em;
                color: $dark_blue;

                @media (max-width: $tablet) {
                    text-align: center;
                    padding-bottom: 24px;

                    &:last-child {
                        padding-bottom: 0;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .learning-platform {
        background: $pale_yellow;

        &__container {
            padding: 85px 0 68px 0;

            img {
                width: 100%;
            }
        }

        &__img {
            padding-bottom: 72px;
        }

        &__heading {
            text-align: center;
            padding: 72px 0 24px 0;
        }

        &__description {
            @include copy;
            text-align: center;
        }
    }

    .sign-up {
        background: $pale_yellow;

        &__heading {
            padding: 129px 0 88px 0;
            text-align: center;

            @media (max-width: $mobile-lg) {
                padding: 65px 0;
            }
        }

        &__content {
            display: flex;
            justify-content: center;

            @media (max-width: $tablet-lg) {
                flex-direction: column;
            }
        }

        &__rates {
            display: flex;

        }
        
        &__rate-cards {
            display: flex;
            
            @media (max-width: $tablet-lg) {
                width: 100%;
                justify-content: space-between;
            }

            @media (max-width: $mobile-lg) {
                flex-direction: column;
            }
        }
        
        &__rate-card {
            background-color: $white;
            padding: 12px;
            display: flex;
            flex-direction: column;
            margin-right: 32px;
            width: 219px;
            position: relative;

            @media (max-width: $tablet-lg) {
                width: 45%;
                margin-right: 0;
            }

            @media (max-width: $mobile-lg) {
                width: 93%;
            }

            &:last-child {
                margin-right: 75px;

                @media (max-width: $tablet-lg) {
                    margin-right: 0;
                }

                @media (max-width: $mobile-lg) {
                    margin-top: 45px;
                }
            }
        }

        &__rate-card-discount {
            position: absolute;
            font-size: 14px;
            font-family: $copy;
            font-weight: 300;
            text-align: center;
            letter-spacing: 0.08%;
            line-height: 19.95px;
            background: $orange;
            border-radius: 48px;
            width: 110px;
            height: 33px;
            color: $white;
            left: 25%;
            right: 0;
            top: -4.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            @media (max-width: $tablet-lg) {
                left: 38%;
            }

            @media (max-width: $mobile-lg) {
                left: 33%;
            }

            @media (max-width: $mobile-sm) {
                left: 29%;
            }
        }

        .btn {
            width: 100%;
        }

        &__rate-card-heading {
            font-family: $heading;
            color: $medium_blue;
            font-size: 32px;
            line-height: 40.1px;
            text-align: center;
            padding-top: 27px;
        }

        &__rate-card-price {
            font-size: 20px;
            font-weight: 300;
            font-size: 34px;
            font-family: $copy;
            letter-spacing: 0.04em;
            font-size: 24px;
            text-align: center;
            color: $black;
            padding: 9px 0 6px 0;
        }

        &__rate-card-price-desc {
            font-family: $copy;
            font-weight: 300;
            font-size: 14px;
            line-height: 19.95px;
            text-align: center;
            padding-bottom: 23px;
        }

        &__info-heading {
            font-family: $copy;
            font-weight: 500;
            font-size: 18px;
            line-height: 25.65px;
            letter-spacing: 0.04%;
            color: $black;
            padding-top: 15px;

            @media (max-width: $tablet-lg) {
                padding-top: 35px;
            }
        }

        &__info-list {
            max-width: 446px;
            width: 100%;

            @media (max-width: $tablet-lg) {
                max-width: unset;
            }

            li {
                font-family: $copy;
                font-weight: 300;
                font-size: 16px;
                line-height: 22.8px;
                letter-spacing: 0.04%;
                color: $black;
                position: relative;
                left: 10px;
                margin-bottom: 23px;

                &:first-child {
                    margin-top: 23px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    content: '✓';
                    position: absolute;
                    left: -15px;
                    font-family: $copy;
                }
            }
        }

        &__disclaimer {
            padding: 77px 0 126px 0; 
            text-align: center;
            font-family: $copy;
            font-weight: 300;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.04em;
            color: $black;

            @media (max-width: $mobile-lg) {
                padding: 55px 0;
            }

            a {
                color: $medium_blue;
            }
        }
    }

    .activities-carousel {
        @include purple-background;

        .activities {
            padding-top: 176px;

            @media (max-width: $tablet) {
                padding-top: 116px;
            }
        }

        .activity {
            margin-bottom: 0;

            @media (max-width: $tablet-lg) {
                flex-direction: row;
            }

            @media (max-width: $tablet) {
                flex-direction: column;
                margin-right: 5px;
                width: 90%;
                border: unset;
            }

            @media (max-width: $tablet) {
                margin-right: 2px;
            }
            
            &__content {
                padding: 2.5em;
                width: 50%;
                
                @media (max-width: $tablet) {
                    border: 2px solid $pale_purple;
                    border-top: unset;
                    width: 84.1%;
                }

                @media (max-width: $mobile-lg) {
                    position: relative;
                    z-index: 1;
                    background: $white;
                    width: 89%;
                    top: -26px;
                    left: -2px;
                    padding: 1em;
                }

                @media (max-width: $mobile-md) {
                    top: -53px;
                    width: 89%;
                }
            }

            &__image {
                width: 50%;

                @media (max-width: $tablet) {
                    width: 600px;
                    height: 300px;
                }

                @media (max-width: $mobile-lg) {
                    width: 320px;
                    height: 270px;
                }

                img {
                    width: 100%;
                    object-fit: cover;

                    @media (max-width: $mobile-lg) {
                        object-fit: cover;
                        width: 320px;
                        height: 90%;
                    }

                    @media (max-width: $mobile-md) {
                        width: 289px;
                        height: 80%;
                    }
                }
            }

            &__heading {
                color: $dark_blue;
                font-size: 26px;
                line-height: 37px;
                padding-bottom: 26px;

                @media (max-width: $mobile-lg) {
                    padding-top: 0;
                    height: 70px;
                }
            }

            &__description {
                padding-top: 28px;

                @media (max-width: $tablet) {
                    height: 100px;
                }

                @media (max-width: $mobile-lg) {
                    display: block;
                    height: 190px;
                }
                
                p {
                    @include copy;
                    line-height: 25.45px;
                }
            }

            .skills {

                @media (max-width: $tablet) {
                    height: 25px;
                }

                @media (max-width: $mobile-lg) {
                    height: 45px;
                }

                &__skill {
                    font-size: 18px;
                    line-height: 25.45px;
                }
            }

            .btn {
                width: 175px;
                height: 56px;
            }
        }

        @media (max-width: $mobile-md) {

            .slick-dots {
                bottom: -10px;
            }
        }
    }

    .shop {
        margin-top: 116px;
        background: $pale_blue;
        padding: 83px 0;

        h2 {
            text-align: center;
            padding-bottom: 50px;
        }
    }

    .blog {
        padding: 120px 0;
        background: $pale_purple;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 74px;

            @media (max-width: $tablet) {
                flex-direction: column;
            }

            
            article {
                
                @media (max-width: $tablet) {
                    display: flex;
                }

                .blog__copy {
    
                    @media (max-width: $tablet) {
                        padding-left: 2em;
                    }
                }
            }

            a {
                text-decoration: none;


                li {
                    padding-top: 32px;
                }

                h2 {
                    font-size: 30px;
                    line-height: 38px;
                    padding-top: 24px;
                    padding-right: 2em;

                    @media (max-width: $mobile-lg) {
                        font-size: 20px;
                        line-height: 25px;
                        padding-right: 0;
                    }
                }

                img {
                    width: 300px;
                    height: auto;

                    @media (max-width: $tablet-lg) {
                        width: 200px;
                    }

                    @media (max-width: $tablet) {
                        margin-bottom: 2em;
                    }

                    @media (max-width: $mobile-lg) {
                        width: 150px;
                        height: 100%;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-dots {
    bottom: -50px;

    li {

        button {

            &:before {
                height: 15px;
                width: 15px;
                color: $medium-blue;
                opacity: unset;
                border: 1px solid $medium-blue;
                content: '';
                border-radius: 50px;
            }
        }

        &.slick-active {

            button {

                &:before {
                    background-color: $medium-blue;
                }
            }
        }
    }
}

.slick-arrow {
    top: 65%;
    height: 48px;
    width: 48px;
    border: 1px solid $dark-blue;
    border-radius: 50px;
    z-index: 1;
    
    &:before {
        content: '';
    }
}
.slick-prev {
    background: url('~/images/arrow.png') no-repeat center center $white;

    &:hover  {
        background: url('~/images/arrow.png') no-repeat center center $white;
    }

    &:focus {
        background: url('~/images/arrow.png') no-repeat center center $white;
    }
}
.slick-next {
    background: url('~/images/arrow.png') no-repeat center center $white;
    transform: rotate(180deg);
    top: 60%;

    &:hover  {
        background: url('~/images/arrow.png') no-repeat center center $white;
    }

    &:focus {
        background: url('~/images/arrow.png') no-repeat center center $white;
    }
}