.shop {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background-color: $pale_yellow;
        height: 692px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        @media (max-width:$tablet-lg) {
            height: 612px;
        }

        @media (max-width:$tablet) {
            height: 512px;
        }

        @media (max-width:$tablet) {
            height: 0;
        }
    }

    .wrapper {

        @media (max-width:$mobile-lg) {
            width: 100%;
        }
    }

    .intro {

        &__image {
            img {
                width: 100%;
            }
        }
        
        h1 {
            padding: 185px 0 40px;

            @media (max-width:$tablet) {
                padding: 98px 0 30px;
            }
        }
    }

    .new-arrivals {
        padding-bottom: 150px;

        @media (max-width:$mobile-lg) {
            padding-bottom: 30px;
        }

        h2 {
            text-align: center;
            padding: 98px 0 40px;

            @media (max-width:$mobile-lg) {
                padding: 30px 0;
            }
        }
    }
}

.single-product {
    padding-top: 157px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        width: 45%;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__content {
        width: 50%;

        .subheading {
            @include subheading;
            padding-bottom: 16px;
        }

        .heading {
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px;
            
            h2 {
                text-align: left;
                width: 85%;
            }
    
            .price {
                font-size: 26px;
                line-height: 47.71px;
                color: $dark_purple;
                font-family: $copy;
                font-weight: 300;
            }
        }
        
        .copy {
            @include copy;

            p {
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .add {
            display: flex;
            justify-content: space-between;

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: 75%;
                font-size: 16px;
                line-height: 24.29px;
                font-weight: 500;
            }
        }
    }
}