.start-here {
    @include purple-background;

    &:after {
        height: 419px;

        @media (max-width: $mobile-lg) {
            height: 528px;
        }
    }

    .template-lr__container {
        padding-top: 83px;

        @media (max-width: $mobile-lg) {
            padding-top: 38px;

            &:first-child {
                padding-top: 138px;
            }
        }

        @media (max-width: $mobile-md) {

            &:first-child {
                padding-top: 118px;
            }
        }
    }

    .introduction {
        padding: 116px 0 47px 0;

        &__heading {
            padding: 66px 0 18px 0;
        }

        &__description {
            @include copy;
            font-size: 20px;
            color: $black;
            width: 50%;

            @media (max-width: $tablet-lg) {
                width: 80%;
            }

            @media (max-width: $mobile-lg) {
                width: 100%;
                font-size: 16px;
            }
        }
    }
}