.start-here {
    @include purple-background;

    .introduction {
        padding: 116px 0 69px 0;

        &__heading {
            padding: 96px 0 18px 0;
        }

        &__description {
            @include copy;
            font-size: 20px;
            color: $black;
            width: 50%;

            @media (max-width: $tablet_lg) {
                width: 80%;
            }

            @media (max-width: $mobile_lg) {
                width: 100%;
                font-size: 18px;
            }
        }
    }
}