@import "../shared/variables";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block; 
}
  
body {
    line-height: 1; 
}
  
ol, ul {
    list-style: none; 
}
  
blockquote, q {
    quotes: none; 
}
  
blockquote {
    
    &:before, &:after {
        content: '';
        content: none; 
    } 
}
  
q {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
  
table {
    border-collapse: collapse;
    border-spacing: 0; 
}

hr {
    border-top: 2px solid $pale_purple;
}

.wrapper {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.inner-wrapper {
    max-width: 788px;
    width: 100%;
    margin: 0 auto;
}

.h2 {
    font-family: $heading;
    color: $dark_blue;
    line-height: 49px;
    letter-spacing: 0.01em;
    font-weight: 400;

    &--large {
        font-size: 49px;

        @media (max-width: $mobile_lg) {
            font-size: 36px;
        }
    }

    &--medium {
        font-size: 40px;
        
        @media (max-width: $mobile_md) {
            font-size: 32px;
        }
    }
}

.h3 {
    font-family: $copy;
    font-size: 20px;
    color: $body_copy;
    line-height: 28px;

    @media (max-width: $mobile_sm) {
        font-size: 18px;
    }
}

.btn {
    height: 56px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    font-family: $copy;

    &--outline {
        width: 104px;
        background: none;
        border: 1px solid $medium_blue;
        color: $dark_blue;
    }

    &--fill {
        width: 132px;
        background: $medium_blue;
        color: $white;
        outline: none;
        border: none;
    }
}

.h4 {
    font-family: $copy;
    font-size: 18px;
    line-height: 25.45px;
    letter-spacing: 0.04em;
    color: $black;
}