@import "../shared/variables";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block; 
}
  
body {
    line-height: 1; 
}
  
ol, ul {
    list-style: none; 
}
  
blockquote, q {
    quotes: none; 
}
  
blockquote {
    
    &:before, &:after {
        content: '';
        content: none; 
    } 
}
  
q {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
  
table {
    border-collapse: collapse;
    border-spacing: 0; 
}

hr {
    border-top: 2px solid $pale_purple;
}

.header-footer-wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
}

.inner-wrapper {
    max-width: 788px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: $heading;
    font-weight: normal;
    font-size: 58px;
    line-height: 74px;
    letter-spacing: 0.01em;
    color: $dark_blue;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-family: $heading;
    color: $dark_blue;
    line-height: 49px;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 38px;
}

.h3 {
    font-family: $copy;
    font-size: 20px;
    color: $body_copy;
    line-height: 28px;

    @media (max-width: $mobile_sm) {
        font-size: 18px;
    }
}

.btn {
    height: 56px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    font-family: $copy;
    cursor: pointer;

    &--outline {
        width: 104px;
        background: none;
        border: 1px solid $medium_blue;
        color: $dark_blue;
    }

    &--fill {
        width: 132px;
        background: $medium_blue;
        color: $white;
        outline: none;
        border: none;
    }
}

.h4 {
    font-family: $copy;
    font-size: 18px;
    line-height: 25.45px;
    letter-spacing: 0.04em;
    color: $black;
}

.alm-btn-wrap {
    text-align: center;
}

.activity {
    width: 100%;
    display: flex;
    border: 2px solid $pale_purple;
    position: relative;
    margin-bottom: 3em;

    @media (max-width: $tablet-lg) {
        flex-direction: column;
    }
    
    &__content {
        padding: 2em;
        background-color: $white;

        @media (max-width: $mobile-lg) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 5.35%, rgba(255, 255, 255, 0) 98.14%);
        }

        @media (max-width: $mobile_sm) {
            padding: 1em;
        }
    }

    &__heading {
        padding-bottom: 8px;

        @media (max-width: $mobile-lg) {
            padding-bottom: 5px;
            padding-top: 45px;
        }

        @media (max-width: $mobile_sm) {
            padding-top: 35px;
        }
    }

    &__description {

        @media (max-width: $mobile-lg) {
            display: none;
        }

        p {
            @include copy;
            font-size: 14px;
            line-height: 20px;
        }
    }

    img {
        width: 310px;
        height: 100%;
        object-fit: cover;

        @media (max-width: $tablet-lg) {
            width: 520px;
        }

        @media (max-width: $tablet) {
            width: 320px;
        }

        @media (max-width: $mobile-lg) {
            width: 100%;
        }
    }
}