@mixin btn {
    height: 56px;
    border-radius: 4px;
    text-align: center;
}

@mixin subheading {
    text-transform: uppercase;
    font-family: $copy;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.14em;
    color: $medium_blue;
}

@mixin copy {
    font-family: $copy;
    font-weight: 100;
    color: $body_copy;
    font-size: 17px;
    line-height: 31px;
    letter-spacing: 0.01em;

    @media (max-width: $mobile-lg) {
        font-size: 15px;
    }
}

@mixin chevron {
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 0.25em;
    right: 0;
    top: 20px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.25em;
}

@mixin subject-tags {
    height: 33px;
    border-radius: 64px;
    outline: none;
    border: none;
    font-family: $copy;
    font-size: 14px;
    line-height: 28px;
    margin-right: 1em;

    @media (max-width: $tablet) {
        margin-right: 0.5em;
    }
}

@mixin pseudo {
    content: '';
    position: absolute;
}

@mixin purple-background {
    position: relative;

    &:after {
        @include pseudo;
        background-color: $pale_purple;
        height: 298px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}

@mixin play-btn {
    position: relative;
    cursor: pointer;

    &:after {
        @include pseudo;
        background: url('~/images/play.png') no-repeat center center/contain;
        height: 84px;
        width: 84px;
        z-index: 1;

        @media (max-width: $mobile-lg) {
            top: 38%;
            width: 64px;
            height: 64px;
        }
    }
}


// Media Queries



