.sidebar__sub-heading {
    font-family: $copy;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.14em;
    color: $copy;
    padding: 33px 0 20px;
    position: relative;

    @media (max-width: $mobile-lg) {
        display: none;

        &:after {
            content: 'x';
            font-size: 20px;
            position: absolute;
            color: $black;
            right: 50px;
            top: 30px;
            height: 20px;
            width: 20px;
        }
    }
}

.mobile-sidebar-button {
    display: none;

    @media (max-width: $mobile-lg) {
        display: block;
        width: 100%;
        background-color: $art;
        border: none;
        height: 49px;
        font-family: $copy;
        font-size: 16px;
        letter-spacing: 0.14em;
        margin-top: 49px;
        position: relative;
        text-transform: uppercase;

        &:after {
            @include pseudo;
            @include chevron;
            right: 115px;
        }
    }
}

.filter-container {
    @media (max-width: $mobile-lg) {
        &.filter-container--active {
            position: absolute;
            width: 100%;
            left: 2em;
            top: 0;
            z-index: 1;
        }
    }
}

.searchandfilter {
    
    ul {

        @media (max-width: $mobile-lg) {
            display: none;
        }
        
        li {
            
            h4  {
                font-family: $copy;
                font-weight: 400;
                font-size: 22px !important;
                line-height: 44px;
                letter-spacing: 0.04em;
            }

            ul {

                li {
                    padding: 0;
                    display: flex;
                    align-items: center;

                    input {
                        margin: 0;
                        height: 18px;
                        width: 18px;
                        border: 1.5px solid $black;
                        border-radius: 2px;
                    }

                    label {
                        font-family: $copy;
                        font-size: 18px;
                        line-height: 36px;
                        letter-spacing: 0.04em;

                        .sf-count {
                            font-size: 12px;
                        }
                    }

                    &.sf-option-active {

                        input {
                            height: 18px;
                            width: 18px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -o-appearance: none;
                            appearance: none;
                            border: 1.5px solid $black;
                            border-radius: 2px;
                            outline: none;
                            transition-duration: 0.3s;
                            cursor: pointer;
                            position: relative;

                            &:checked {
                                border: 1px solid $pale_purple;
                                background-color: $pale_purple;   
                            }

                            &:checked::before {
                                content: '\2713';
                                position: absolute;
                                left: 4px;
                                top: 0;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.searchandfilter > ul > li > ul > li > label {
    font-family: $copy;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    padding-left: 7px !important;
    text-transform: capitalize;
}

.sf-field-taxonomy-subject,
.sf-field-taxonomy-age,
.sf-field-taxonomy-skills,
.sf-field-taxonomy-material {
    border-bottom: 2px solid $pale_purple;
}

.sf-field-taxonomy-subject,
.sf-field-taxonomy-age,
.sf-field-taxonomy-skills,
.sf-field-taxonomy-material {

    h4 {
        position: relative;
        cursor: pointer;

        &:after {
            @include pseudo;
            background: url('~/images/chevron.svg') no-repeat;
            right: 0;
            top: 25px;
            height: 10px;
            width: 17px;
            transition: all 0.3s ease;
        }

        &.hidden {
            &:after {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            }
        }
    }
}