@import "../shared/variables";

.template-lr {
    padding-bottom: 168px;
    
    &__container {
        padding-top: 124px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        padding-bottom: 23px;
    }

    &__description {
        @include copy;
        padding-bottom: 20px;
        width: 548px;
    }
}

.instagram {
    
    &__tagline {
        @include tagline;
        padding-top: 96px;
        text-align: center;
    }

    &__heading {
        text-align: center;
        padding: 14px 0 71px 0;
    }
}