@import "../shared/variables";

.template-lr {
    padding-bottom: 168px;

    @media (max-width: $tablet-lg) {
        padding-bottom: 50px;
    }
    
    &__container {
        padding-top: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--reverse {
            flex-direction: row-reverse;
        }

        @media (max-width: $tablet-lg) {
            padding-top: 30px;
            
            &:first-child {
                padding-top: 100px;
            }
        }
        
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
    }

    &__inner-container {
        width: 44%;

        @media (max-width: $tablet-lg) {
            width: 65%;
        }

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__heading {
        padding-bottom: 23px;
    }

    &__description {
        @include copy;
        padding-bottom: 20px;

        p {
            @include copy;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .heading {
            font-family: $copy;
            font-size: 20px;
            line-height: 36.7px;
            letter-spacing: 0.01em;
            color: $dark_blue;
            font-weight: 400;
            padding: 8px 0;
        }
    }

    &__img {
        width: 48%;

        img {
            width: 100%;
        }

        @media (max-width: $tablet-lg) {
            width: 30%;
        }

        @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

.instagram {
    background: $white;
    padding: 80px 0;
    
    &__subheading {
        @include subheading;
        text-align: center;
    }

    &__heading {
        text-align: center;
        padding: 14px 0 30px 0;
    }

    .sb_instagram_header, #sbi_load {
        display: none;
    }
}

.subjects-ages {
    display: flex;
    flex-wrap: wrap;

    &__subjects {
        display: flex;
        margin-bottom: 10px;
        
        .subjects {
            
            &__subject {
                @include subject-tags;
                margin-right: 1em;

                &--literacy {
                    width: 90px;
                    background-color: $literacy;
                }

                &--art {
                    width: 55px;
                    background-color: $art;
                }

                &--numeracy {
                    width: 103px;
                    background-color: $numeracy;
                }

                &--motor {
                    width: 76px;
                    background-color: $motor;
                }

                &--social-emotional {
                    width: 160px;
                    background-color: $social_emotional;
                }
            }
        }
    }

    &__ages {


        .ages {

            &__age {
                @include subject-tags;
                width: 100%;
                background-color: transparent;
                border: 1.5px solid $black;
            }
        }
    }
}

.skills {
    padding: 18px 0 36px 0;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mobile-lg) {
        padding: 10px 0 20px 0;
    }

    &__skill {
        font-family: $copy;
        font-size: 14px;
        line-height: 20px;
        color: $body_copy;
        position: relative;
        display: block;
        margin-right: 7px;
        margin-bottom: 5px;

        &:last-child {
            
            &::after {
                content: '' !important;
            }
        }

        &:after {
            content: ',' !important;
            position: absolute;
            font-size: 14px;
            font-family: $copy;
            height: 5px;
            width: 5px;
            right: -5px;
            top: 0;
        }
    }
}

.categories {

    &__category {
        font-family: $copy;
        text-transform: uppercase;
        color: $medium_blue;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.14em;
        list-style-type: none;
    }
}

.products {
    display: flex;
    justify-content: space-between;

    @media (max-width:$mobile-lg) {
        flex-wrap: wrap;

    }

    .product {
        width: 23%;

        @media (max-width:$mobile-lg) {
            width: 45%;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
        }

        &__image {

            img {
                width: 100%;
                height: auto;
            }
        }

        h4 {
            text-align: center;
            padding-top: 30px;
            line-height: 25.45px;

            
        }

        p {
            @include copy;
            padding-top: 8px;
            text-align: center;

            @media (max-width:$mobile-lg) {
                padding-bottom: 30px;
            }
        }
    }
}

.newsletter {
    background: $pale_purple;
    padding: 102px 0 78px 0;
    text-align: center;
    position: relative;


    @media (max-width: $mobile-lg) {
        padding: 142px 0 78px 0;
    }


    &:before {
        @include pseudo;
        background: url('~/images/purple-flower.svg') no-repeat;
        top: -2.5em;
        right: 10em;
        height: 123px;
        width: 146px;
        z-index: 2;

        @media (max-width: $mobile-lg) {
            background-size: 75%;
            right: 6em;
        }
    }

    &:after {
        @include pseudo;
        background: url('~/images/asterisk.svg') no-repeat;
        top: -0.7em;
        right: 3.5em;
        height: 148px;
        width: 134px;
        z-index: 1;

        @media (max-width: $mobile-lg) {
            background-size: 75%;
            right: 1.5em;
        }
    }

    p {
        @include copy;
        width: 40%;
        margin: 0 auto;
        margin-top: 8px;

        @media (max-width: $mobile-lg) {
            width: 100%;
        }
    }

    .nf-form-title,
    .nf-form-fields-required,
    .nf-field-label {
        display: none;
    }

    .nf-form-content {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 24px;
    }

    #nf-form-2-cont > div > div.nf-form-layout > form > div > div.nf-form-content > nf-fields-wrap {
        display: flex;

        @media (max-width: $mobile-lg) {
            flex-direction: column;
        }
    }

    #nf-field-5 {
        width: 399px !important;
        height: 64px;
        border: none;
        font-family: $copy;
        font-weight: 300;
        font-size: 18px;
        line-height: 27.63px;
        color: $dark_blue;
        letter-spacing: 0.04em;

        @media (max-width: $mobile-lg) {
            width: 100% !important;
            border-radius: 4px;
            text-align: center;
        }

        &::placeholder {
            color: $dark_blue;
        }
    }

    #nf-field-6 {
        height: 64px;
        width: 149px;
        color: white;
        font-family: $copy;
        font-weight: 300;
        font-size: 18px;
        line-height: 27.63px;
        letter-spacing: 0.04em;
        background: $medium_blue;
        border-radius: 0px 5px 5px 0px;

        @media (max-width: $mobile-lg) {
            width: 80vw !important;
            border-radius: 4px;
        }
    }

    @media (max-width: $mobile-lg) {
        .nf-form-content {
            width: 80vw !important;
        }
    }

    .fd-root .ff__title {
        display: none !important;
    }
}