@import "../shared/variables";

.template-lr {
    padding-bottom: 168px;
    
    &__container {
        padding-top: 124px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        padding-bottom: 23px;
    }

    &__description {
        @include copy;
        padding-bottom: 20px;
        width: 548px;
    }
}