h1 {
    font-family: $heading;
    font-weight: normal;
    font-size: 58px;
    line-height: 74px;
    letter-spacing: 0.01em;
    color: $dark_blue;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-family: $heading;
    color: $dark_blue;
    line-height: 49px;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 38px;

    @media (max-width: $mobile-lg) {
        font-size: 28px;
    }
}

.h3 {
    font-family: $copy;
    font-size: 20px;
    color: $body_copy;
    line-height: 28px;

    @media (max-width: $mobile_sm) {
        font-size: 18px;
    }
}

.btn {
    height: 56px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    font-family: $copy;
    cursor: pointer;

    &--outline {
        width: 104px;
        background: none;
        border: 1px solid $medium_blue;
        color: $dark_blue;
    }

    &--fill {
        width: 132px;
        background: $medium_blue;
        color: $white;
        outline: none;
        border: none;
    }
}

.h4 {
    font-family: $copy;
    font-size: 18px;
    line-height: 25.45px;
    letter-spacing: 0.04em;
    color: $black;
}