// Core Colours
$medium_green: #599779;
$dark_green: #37786A;
$bright_green: #CDD884;
$dark_purple: #8C7DB0;
$light_purple: #DAD4E9;
$dark_blue: #1A3E70;
$medium_blue: #3B73B6;
$light_blue: #B1D1E4;
$aqua: #8DCCC2;
$pink: #C68CAE;
$golden_yellow: #EDB46E;
$yellow: #F3D68A;
$aqua: #8DCCC2;
$orange: #E47556;
$orange_pink: #E77C71;
$peach: #F2D3C2;
$red: #D46559;
$blue: #B6D2E4;

$literacy: #DB8276;
$numeracy: #B1D1E4;
$art: #D9D4E7;
$motor: #CDD884;
$social_emotional: #F2D3C2;


// Backgrounds
$pale_peach: #F9EBE2;
$pale_blue: #E4F0F6;
$pale_purple: #E9E7F0;
$pale_yellow: #FFF9F1;

// Body
$body_copy: #3A3F42;
$link: #2C558E;


// General
$white: #FFF;
$black: #000;


//Fonts
$copy: 'Navigo', sans-serif;
$heading: 'new-spirit', serif;

// Breakpoints

$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 600px;

$tablet: 768px;
$tablet-lg: 1024px;

$laptop: 1366px;
$laptop-lg: 1440px;

$desktop: 1680px;
$desktop-lg: 1920px;