// Colours

$dark_blue: #1A3E70;
$medium_blue: #3B73B6;
$light_blue: #B1D1E4;
$yellow: #FFF9F1;
$orange: #E47556;
$white: #FFF;
$dark: #3A3F42;
$black: #000;


//Fonts

$copy: 'Navigo', sans-serif;
$heading: 'New Spirit', serif;