@import "../shared/variables";

.header {
    padding-top: 30px;
    padding-bottom: 145px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;

        @media (max-width: $tablet) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    color: $dark_blue;
                    text-decoration: none;
                    font-family: $copy;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    margin-right: 40px;
                }

                &.btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        margin-right: 0;
                    }
                }
            }
        }

        .btn--outline {
            margin-right: 25px;
        }
    }
}