@import "../shared/variables";

.header {
    padding-top: 30px;
    padding-bottom: 145px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--mobile {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .header__menu--mobile-logged-in {

        .hamburger {

            &--open {
                top: -570px;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        @media (max-width: $tablet) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    color: $dark_blue;
                    text-decoration: none;
                    font-family: $copy;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    margin-right: 40px;
                    position: relative;

                    &:hover {
                        color: $medium_blue;
                        
                        &:after {
                            @include pseudo;
                            border-bottom: 2px solid $medium_blue;
                            width: 100%;
                            bottom: -5px;
                            left: 0;
                        }
                    }
                }

                &.current-menu-item {

                    a {
                        color: $medium_blue;
                        position: relative;
    
                        &:after {
                            @include pseudo;
                            border-bottom: 2px solid $medium_blue;
                            width: 100%;
                            bottom: -5px;
                            left: 0;
                        }
                    }
                }

                &.btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        margin-right: 0;
                    }
                }

                &.btn--hide {
                    display: none;
        
                    @media (max-width: $tablet) {
                        display: flex;
                    }
                }

                &.btn--user {
                    display: flex;
        
                    @media (max-width: $tablet) {
                        display: none;
                    }
                }
            }
        }

        .btn--outline {
            margin-right: 25px;
        }

        .btn--fill {

            a {
                color: $white;
            }
        }

        .btn--user {
            background: url('~/images/user-circle.png') no-repeat;
            border: none;
            height: 29px;
        }

        &--mobile {
            display: none;

            @media (max-width: $tablet) {
                display: block;
            }

            .menu-primary-menu-logged-out-container,
            .menu-primary-nav-logged-in-container {
                display: none;

                &--active {
                    display: block;

                    ul {
                        flex-direction: column;
                        align-items: flex-start;

                        li {
                            padding: 16px 0;
                            border-bottom: 2px solid $pale_purple;
                            width: 100%;

                            &:first-child {
                                padding-top: 50px;
                            }

                            a {
                                font-size: 22px;
                                line-height: 31.11px;
                            }

                            &.btn {
                                border-bottom: 1px solid $medium_blue;
                                margin-top: 5em;
                            }

                            &.btn--fill {
                                margin-top: -5em;
                                margin-left: 55%;
                            }
                        }
                    }
                }
            }

            .menu-primary-nav-logged-out-container {

                li {

                    &.btn {
                        width: 45%;
                    }
                }
            }

            .menu-primary-nav-logged-in-container {

                li {

                    &.btn {
                        width: 100%;
                    }
                }

            }

            .hamburger {
                position: relative;
                width: 21px;
                height: 14px;
                cursor: pointer;

                span {
                    color: $dark_blue;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 2px;
                    transition: all 0.2s, background 0s;
                    background: $dark_blue;

                    &:nth-child(2) {
                        top: 6px;
                    }

                    &:nth-child(3) {
                        top: 12px;
                    }
                }

                &--open {
                    right: -96.5%;
                    top: -503px;

                    @media (max-width: $mobile_lg) {
                        right: -93%;
                    }

                    @media (max-width: $mobile_md) {
                        right: -92%;
                    }

                    span {
                        &:first-child,
                        &:last-child {
                            top: 8px;
                        }
    
                        &:first-child {
                            transform: rotate(45deg);
                        }
                    
                        &:last-child {
                            transform: rotate(-45deg);
                        }
                    
                        &:nth-child(2) {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }

                &__logged-in {
                    top: -572px;
                }
            }
        }
    }

    &--mobile {
        position: relative;
        height: 100vh;
        background: $pale_yellow;
        width: 100%;
        padding-left: 7.5%;
        right: 15%;
    }
}