.single-activity {
    @include purple-background;

    &__heading-info {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 196px 0;

        @media (max-width: $tablet) {
            flex-direction: column;
            padding: 120px 0 196px;

            h2 {
                padding-bottom: 0.3em;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__content {
        width: 70%;
        position: relative;
        top: -11em;

        @media (max-width: $tablet) {
            width: 100%;

            iframe {
                width: 100%;
                height: 210px;
            }
        }
    }

    &__img {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 460px;

            @media (max-width: $mobile-lg) {
                height: auto;
            }
        }
    }

    &__description {
        padding-top: 20px;

        p {
            @include copy;
            color: $black;
        }
    }

    &__sidebar {

        background: $pale_yellow;
        width: 20%;
        padding: 2em 2em 0 2em;
        height: 100%;
        top: -11em;
        position: relative;
        
        @media (max-width: $tablet) {
            width: 90%;
            margin-top: 62px;
        }
        
        @media (max-width: $mobile-lg) {
            width: 80%;
            // display: none;
        }
    }

    &__sidebar-heading {
        position: relative;

        &:after {
            @include pseudo;
            border-bottom: 2px solid $pale_peach;
            height: 2px;
            width: 100%;
            top: 32px;
            left: 0;
        }
    }

    .downloads {

        &__download {
            font-family: $copy;
            text-decoration: none;
            color: $link;
            line-height: 18px;

            &:last-child {

                li {
                    padding-bottom: 0;
                }
            }

            li {
                position: relative;
                padding-right: 18px;
                margin: 25px 0;

                &:after {
                    @include pseudo;
                    background: url('~/images/download.svg') no-repeat;
                    height: 24px;
                    width: 24px;
                    right: 0;
                    top: -5px;
                }
            }
        }
    }

    .materials {
        padding: 20px 0;
        list-style-type: disc;
        margin-left: 2em;

        &__material {
            padding-bottom: 0.5em;
            @include copy;
            font-size: 15px;
            line-height: 22px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    
    .note {
        @include copy;
        font-size: 15px;
        line-height: 23px;
        padding: 32px 0;
    }

    &__instructions {
        margin-top: -5em;

        @media (max-width: $tablet) {
            margin-top: -4em;
        }
    }

    .instructions {
        padding-top: 30px;

        &__instruction {
            display: flex;
            justify-content: space-between;
            border: 2px solid $pale_purple;
            margin-bottom: 2em;

            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }


            &:last-child {
                margin-bottom: 168px;

                @media (max-width: $mobile-lg) {
                    margin-bottom: 40px;
                }
            }

            figure {
                
                img {
                    height: 100%;
                    width: 260px;
                    object-fit: cover;
                }
            }

        }

        &__instruction-content {
            padding: 2em;

            a {
                text-decoration: none;
                color: $medium_blue;
            }

            h3 {
                font-size: 26px;
                padding-bottom: 26px;
            }

            p {
                @include copy;
            }

            &--image {
                width: 50%;
            }

            &--no-image {
                width: 100%;
            }
        }

        &--desktop {
            display: block;

            @media (max-width: $mobile-lg) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media (max-width: $mobile-lg) {
                display: block;
            }

            .instructions-container {
                width: 100%;

                img {
                    width: 100%;
                }
            }
            
            @media (max-width: $mobile-lg) {
                // visibility: hidden;
                // height: 0;
                display: flex;
                flex-direction: column;
            }

            .slick-dots {
                bottom: 0px;

                li {

                    button {

                        &:before {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
            }
        }
    }
}

.related {
    background: $pale_purple;
    padding: 100px 0;

    &__heading {
        text-align: center;
        padding-bottom: 73px;
    }

    &__activities-container {
        display: flex;


        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    
    &__activities-activity {
        display: flex;
        text-decoration: none;
        flex-direction: column;
        border: 2px solid $pale_purple;
        width: 32%;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__activities-img {

        img {
            width: 100%;
            height: 225px;
            object-fit: cover;

            @media (max-width: $tablet-lg) {
                height: 200px;
            }

            @media (max-width: $tablet) {
                height: 440px;
            }

            @media (max-width: $mobile-lg) {
                height: 290px;
            }
        }
    }

    &__activities-content {
        background-color: white;
        margin-top: -2px;
        padding: 2em;

        @media (max-width: $mobile-lg) {
            height: auto;
        }
    }

    .subjects-ages {
        padding-top: 15px;
    }

    .skills {
        padding-bottom: 0;
    }
}

.simplefavorite-button {
    position: absolute;
    left: 0;
    border: 2px solid #E9E7F0;
    border-radius: 4px;
    display: block;
    color: $black;
    font-family: $copy;
    font-size: 18px;
    text-decoration: none;
    line-height: 25.45px;
    letter-spacing: 0.04em;
    padding: 10px 0 12px 0;
    width: 100%;
    margin-top: 24px;
    cursor: pointer;

    &:hover {
        background: $pale_purple !important;
    }

    i {
        margin-left: 30px;
    }
}