.single-activity {
    @include purple-background;

    &__heading-info {
        display: flex;
        justify-content: space-between;
        padding: 150px 0 196px 0;

        @media (max-width: $tablet) {
            flex-direction: column;
            padding: 120px 0 196px;

            h2 {
                padding-bottom: 0.3em;
            }
        }
    }

    .btn {
        display: none;

        @media (max-width: $mobile-lg) {
            display: block;
            position: relative;
            top: -130px;
            width: 100%;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__content {
        width: 70%;
        position: relative;
        top: -11em;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__img {
        @include play-btn;

        &:after {
            left: 45%;
            top: 45%;

            @media (max-width: $mobile-lg) {
                left: 40%;
                top: 35%;
            }            
        }

        img {
            width: 100%;
            object-fit: cover;

            @media (max-width: $mobile-lg) {
                height: auto;
            }
        }
    }

    &__description {
        padding-top: 20px;

        p {
            @include copy;
            color: $black;
        }
    }

    &__sidebar {
        background: $pale_yellow;
        width: 20%;
        padding: 2em 2em 0 2em;
        height: 100%;
        top: -11em;
        position: relative;

        @media (max-width: $tablet) {
            width: 90%;
            margin-top: 62px;
        }

        @media (max-width: $mobile-lg) {
            width: 84%;
            display: none;
        }
    }

    &__sidebar-heading {
        position: relative;

        &:after {
            @include pseudo;
            border-bottom: 2px solid $pale_peach;
            height: 2px;
            width: 100%;
            top: 32px;
            left: 0;
        }
    }

    .downloads {
        padding: 32px 0;

        &__download {
            font-family: $copy;
            text-decoration: none;
            color: $link;

            &:last-child {

                li {
                    padding-bottom: 0;
                }
            }

            li {
                padding-bottom: 1.5em;
                position: relative;

                &:after {
                    @include pseudo;
                    background: url('~/images/download.png') no-repeat;
                    height: 24px;
                    width: 24px;
                    right: 0;
                    top: -5px;
                }
            }
        }
    }

    .materials {
        padding: 32px 0;
        list-style-type: disc;
        margin-left: 2em;

        &__material {
            padding-bottom: 1.5em;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    
    .note {
        @include copy;
        font-size: 16px;
        line-height: 23px;
        padding: 32px 0;
    }

    &__instructions {
        margin-top: -5em;

        @media (max-width: $tablet) {
            margin-top: -6em;
        }
    }

    .instructions {
        padding-top: 30px;

        &__instruction {
            display: flex;
            border: 2px solid $pale_purple;
            margin-bottom: 2em;

            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }


            &:last-child {
                margin-bottom: 168px;

                @media (max-width: $mobile-lg) {
                    margin-bottom: 40px;
                }
            }

            img {
                width: 480px;
                height: 350px;
                object-fit: cover;

                @media (max-width: $tablet-lg) {
                    height: auto;
                    width: 400px;
                }

                @media (max-width: $tablet) {
                    width: 100%;
                }
            }
        }

        &__instruction-content {
            padding: 2em;

            h3 {
                font-size: 26px;
                padding-bottom: 26px;
            }

            p {
                @include copy;
            }
        }

        &--desktop {
            display: block;

            @media (max-width: $mobile-lg) {
                display: none;
            }
        }

        &--mobile {
            
            @media (max-width: $mobile-lg) {
                visibility: hidden;
                height: 0;
                display: flex;
            }

            .slick-dots {
                bottom: 0px;

                li {

                    button {

                        &:before {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
            }
        }
    }
}

.related {
    background: $pale_purple;
    padding: 100px 0;

    &__heading {
        text-align: center;
        padding-bottom: 73px;
    }

    &__activities-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    
    &__activities-activity {
        display: flex;
        text-decoration: none;
        flex-direction: column;
        border: 2px solid $pale_purple;
        width: 30%;

        @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__activities-img {

        img {
            width: 100%;
            height: 278px;
            object-fit: cover;

            @media (max-width: $tablet-lg) {
                height: 200px;
            }

            @media (max-width: $tablet) {
                height: 440px;
            }

            @media (max-width: $mobile-lg) {
                height: 290px;
            }
        }
    }

    &__activities-content {
        background-color: white;
        margin-top: -2px;
        padding: 2em;
    }

    .subjects-ages {
        padding-top: 15px;
    }

    .skills {
        padding-bottom: 0;
    }
}